<div class="theme_panel">
<b>Select Your Theme:</b>
<div class="theme-form">
<br />
<%=form_for(:theme_object,:url=>"/admin/themes",:html=>{:method => "post" }) do |theme|%>
<%@options.each do |option|%>
<%= radio_button_tag "option" ,"#{option}", APP_THEME['theme'] == option,:class=>"theme_options"%> <%=option%><br />
<%end%>
<br />
<%=theme.submit "Apply Theme", :class=>"theme-submit-btn"%>
<%end%>
</div>
</div>
<div id="load_image" style="display:none" ><center><img src="/assets/store/ajax_loader.gif" width="8%"><br /><br />Please Wait....</center></img></div>


